POSTGRES_DB=baby_growth_gallery
POSTGRES_USER=baby_gallery
POSTGRES_PASSWORD=baby_gallery_dev_password
MINIO_ROOT_USER=baby_gallery_minio
MINIO_ROOT_PASSWORD=baby_gallery_minio_dev_password
S3_BUCKET=baby-growth-gallery-dev
