map $http_origin $cors_origin {
  default "";
  "${WEB_ORIGIN}" $http_origin;
}

map $http_access_control_request_method $cors_preflight_allowed {
  default 0;
  "" 1;
  GET 1;
  HEAD 1;
  POST 1;
}

server {
  listen 9000;
  server_name _;
  client_max_body_size 21m;

  if ($request_method !~ ^(GET|HEAD|POST|OPTIONS)$) {
    return 405;
  }

  if ($cors_preflight_allowed = 0) {
    return 405;
  }

  location / {
    if ($request_method = OPTIONS) {
      add_header Access-Control-Allow-Origin $cors_origin always;
      add_header Access-Control-Allow-Methods "GET, HEAD, POST" always;
      add_header Access-Control-Allow-Headers $http_access_control_request_headers always;
      add_header Access-Control-Max-Age 600 always;
      add_header Vary Origin always;
      return 204;
    }

    proxy_pass http://${S3_UPSTREAM};
    proxy_request_buffering off;
    proxy_set_header Host $http_host;
    proxy_hide_header Access-Control-Allow-Origin;
    proxy_hide_header Access-Control-Allow-Methods;
    proxy_hide_header Access-Control-Allow-Headers;
    add_header Access-Control-Allow-Origin $cors_origin always;
    add_header Vary Origin always;
  }
}
